/source/RewardsService/data
/.vscode
/source/RewardsService/rewardsservice/handlers/__pycache__
/source/RewardsService/rewardsservice/utils/__pycache__
/source/RewardsService/rewardsservice/__pycache__
/source/RewardsUI/rewards/clients/__pycache__
/source/RewardsUI/rewards/__pycache__
/source/RewardsUI/global