[{% for i in range(len(users)) %}
  {
    "email_address":"{{ users[i]['email'] }}",
    "reward_points":{{ users[i]['reward_points'] }},
    "reward_tier":"{{ users[i]['reward_tier'] }}",
    "reward_tier_name":"{{ users[i]['reward_tier_name'] }}",
    "next_reward_tier":"{{ users[i]['next_reward_tier'] }}",
    "next_reward_tier_name":"{{ users[i]['next_reward_tier_name'] }}",
    "next_reward_tier_progress":{{ users[i]['next_reward_tier_progress'] }}
  }{% if i != len(users)-1 %},{% end %}{% end %}
]