<html>
   <head>
      <title>{{ title }}</title>
      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
   </head>
   <body>
    <table>
        <tr>
            <th>Email Address</th>
            <th>Reward Points</th>
            <th>Reward Tier</th>
            <th>Reward Tier Name</th>
            <th>Next Reward Tier</th>
            <th>Next Reward Tier Name</th>
            <th>Next Reward Tier Progress</th>
        </tr>
        <tr>
            <td>{{ spot['email'] }}</td>
            <td>{{ spot['reward_points'] }}</td>
            <td>{{ spot['reward_tier'] }}</td>
            <td>{{ spot['reward_tier_name'] }}</td>
            <td>{{ spot['next_reward_tier'] }}</td>
            <td>{{ spot['next_reward_tier_name'] }}</td>
            <td>{{ spot['next_reward_tier_progress'] }}</td>
        </tr>
    </table>
   </body>
 </html>