<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<html>
<head>
</head>
<body>
    <h1 class='text-center'>Welcome to the Rewards Dashboard</h1>
    <div class="container" >
        <h2>Reward Tiers</h2>
        <table class="table table-striped">
            <tr>
                <th scope="col">Rewards Tier<th>
                <th scope="col">Reward Points</th>
                <th scope="col">Rewards Tier Name</th>
            </tr>
            {% for reward in rewards_data %}
                <tr>
                    <td>{{ reward.tier }}<td>
                    <td>{{ reward.points }}</td>
                    <td>{{ reward.rewardName }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    <div class="container">
        <h2>Add orders</h2>
        <form action="http://localhost:7050/processOrder/" method="POST">
            <div class="form-group">
                <label>Enter email address: </label>
                <input class="form-control" type="text" name="email"/><br>

                <label>Enter order total: </label>
                <input class="form-control" type="text" name="order_total"/>
            </div>
            <input type="submit" value="Submit"/>
        </form>
        <hr>
    </div>
    <div class="container">
        <h2>User Rewards</h2>
        <label for="filterEmail">Email address: </label>
        <input id="search" type="text" name="email"/>
        <table class="table table-striped" border="1" id="searchTable">
            <thead>
            <tr>
                <th>Email Address</th>
                <th>Reward Points</th>
                <th>Reward Tier</th>
                <th>Reward Tier Name</th>
                <th>Next Reward Tier</th>
                <th>Next Reward Tier Name</th>
                <th>Next Reward Tier Progress</th>
            </tr>
            </thead>
            <tbody>
                {% for customer in customer_data %}
                <tr>
                    <td>{{customer.email}}</td>
                    <td>{{customer.reward_points}}</td>
                    <td>{{customer.reward_tier}}</td>
                    <td>{{customer.reward_tier_name}}</td>
                    <td>{{customer.next_reward_tier}}</td>
                    <td>{{customer.next_reward_tier_name}}</td>
                    <td>{{customer.next_reward_progress}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

<script>
    var $rows = $('#searchTable tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>